.App {
  text-align: center;
}

.slider {
  height: 500px;
  background-size: cover;
  background-position: center;
}
.slider img {
  width: 100%;
  max-width: 100%;
  height: auto;
}
.slider p,
.slider h3 {
  color: purple;
}

.c1 {
  text-decoration: none;
  color: #000;
  text-align: center;
}
.c1:hover {
  color: green;
}

@media all and (min-width: 480px) and (max-width: 767px) {
  .pd {
    margin-top: -350px;
  }
  .d-1 {
    padding-top: 50px;
  }
}

@media all and (max-width: 479px) {
  .pd {
    margin-top: -350px;
  }
}

.start {
  transform: scale(0);
}
.end {
  transform: scale(1);
  transition: all 0.5s;
}
